/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=Cantora+One&family=Lora:wght@500&display=swap');

:root {
    /* change the values below to your chosen font(s) */
    --heading-font: "Cantora One", "Lucida Grande", "Rockwell";
    --paragraph-font: Lora, Helvetica, sans-serif;
  }
#content {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color: #44633F;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #dbe5d7;
    text-decoration: none;
    padding: 35px;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #b17960;
    grid-column: 1/11;
    grid-row: 4/9;
}
#logo_link {
    background-color: #44633F;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
body {
    background-color: #296281;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
nav a:hover {
    background-color: #b17960;
    color: #dbe5d7;
}
.book {
    background-color: #FF8C00;
    color: #dbe5d7;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color: #FF8C00;
    color: #dbe5d7;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #b17960;
    color: #dbe5d7;
}
.msg {
    background-color: #44633F;
    color: #dbe5d7;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: #44633F;
    color: #dbe5d7;
    font-size: 1.2em;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #dbe5d7;
    text-decoration: none;
}
footer p a:hover {
    background-color: #b17960;
    color: #dbe5d7;
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
.home-title {
    color: #dbe5d7;
    font-size: 2em;
    margin-top: 10px;
}
.home-grid {
    color: #dbe5d7;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.logo, .icon {
    width: 80px;
}
.icon {
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
/* #hero {
    border: 1px solid #dbe5d7;
} */
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#content header nav, h1, h2 {
    font-family: var(--heading-font);
}
h4, .book, .msg p, .msg a, footer p {
    font-family: var(--paragraph-font);
}
h2 {
    margin: 0;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img {
    border: 10px solid #dbe5d7;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains {
    width: 100%;
}
.mountains {
    margin: 200px auto;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

/* ############################################ This is the blog section ############################################ */

h1, h4 {
    font-family: var(--heading-font);
    color: white;
    font-size: 2em;
}
p, ul {
    font-family: var(--paragraph-font);
    color: #dbe5d7;
    font-size: 1em;
}
#blog-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
#blog-grid .image {
    width: 100%;
    height: 100%;
    grid-column: 1/6;
    grid-row: 1/6;
}
#blog-grid h4 {
    grid-column: 2/5;
    grid-row: 1/2;
}
#blog-grid p {
    color: white;
    grid-column: 2/5;
    grid-row: 2/3;
}
#blog-grid .button-box {
    grid-column: 3/4;
    grid-row: 3/4;
}
#first-space {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    background-color: #b17960;
}
#blog-highlights-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
#blog-highlights-grid .image {
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    grid-row: 1/6;
}
#blog-highlights-grid div {
    grid-column: 4/6;
    grid-row: 1/2;
    margin: 0;
    padding: 0;
    border: solid #b17960;
}
#blog-highlights-grid div h4 {
    text-align: center;
}
#blog-highlights-grid p {
    margin: 0;
    padding: 20px;
    grid-column: 4/6;
    grid-row: 2/6;
    line-height: 200%;
    border: solid #b17960;
}
#second-space {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    background-color: #b17960;
}
#blog-wildlife-encounters-grid img {
    width: 100%;
}
#blog-wildlife-encounters-grid div {
    border: solid #b17960;
    padding: 10px;
    line-height: 40pt;
}
#blog-wildlife-encounters-grid div p {
    text-align: left;
}
footer {
    margin: 0;
}
ul {
    text-align: left;
}

/* ############################################ This is the form section ############################################ */
form {
    /* Center the form on the page */
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 2em;
}

/* ############################################ Media Queries ############################################ */

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
