/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=Cantora+One&family=Lora:wght@500&display=swap');

:root {
    /* change the values below to your chosen font(s) */
    --heading-font: "Cantora One", "Lucida Grande", "Rockwell";
    --paragraph-font: Lora, Helvetica, sans-serif;
  }
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #dbe5d7;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #dbe5d7;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #b17960;
}
#logo_link {
    background-color: #44633F;
    padding-top: 5px;
}
body {
    background-color: #296281;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #44633F;
}
nav a:hover {
    background-color: #b17960;
    color: #dbe5d7;
}
.book {
    background-color: #FF8C00;
    color: #dbe5d7;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color: #FF8C00;
    color: #dbe5d7;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #b17960;
    color: #dbe5d7;
}
.msg {
    background-color: #44633F;
    color: #dbe5d7;
    line-height: 1.5em;
    padding: 35px;
}
.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: #44633F;
    color: #dbe5d7;
    font-size: 1.2em;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: #dbe5d7;
    text-decoration: none;
}
footer p a:hover {
    background-color: #b17960;
    color: #dbe5d7;
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
.home-title {
    color: #dbe5d7;
    font-size: 2em;
    margin-top: 10px;
}
.home-grid {
    color: #dbe5d7;
}
.logo, .icon {
    width: 80px;
}
.icon {
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
/* #hero {
    border: 1px solid #dbe5d7;
} */
#content header nav, h1, h2 {
    font-family: var(--heading-font);
}
h4, .book, .msg p, .msg a, footer p {
    font-family: var(--paragraph-font);
}
h2 {
    margin: 0;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #dbe5d7;
}
.mountains {
    margin: 200px auto;
}