/* ############################## This is where I import the fonts I will be using and put my color palette ##############################*/

/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Calistoga&family=Lora&family=Martian+Mono:wght@700&family=Noto+Serif+Georgian&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #275657;
  --secondary-color: #916d49;
  --accent1-color: #ACBFA4;
  --accent2-color: #5F0F40;
  /* other: #E2E8CE */

  /* change the values below to your chosen font(s) */
  --heading-font: Calistoga, "Martian Mono";
  --paragraph-font: "Trebuchet MS", "Noto Serif Georgian", Lora;
}

body {
  max-width: 1600px;
  background-color: #ACBFA4;
  margin: 0 auto;
  padding: 0;
  font-size: 1.5em; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* ############################## This is code for the font types ##############################*/

h1 {
  font-family: var(--heading-font);
}

.contact-us, .book, .first-paragraph, .follow-us, .site-plan, p, nav a {
  font-family: var(--paragraph-font);
}


/* ############################## This is code for the header ##############################*/

header {
  padding: 0;
}

header #header-grid {
  background-color: #916d49;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 220px;
  border: 4px solid #5F0F40;
}

header #header-grid .logo_link {
  height: 60%;
  width: 60%;
  justify-self: center;
  align-self: center;
  border: 4px solid #5F0F40;
}

header #header-grid .logo_link .logo {
  height: 100%;
  width: 100%;
  grid-column: 1/2;
}

header #header-grid .truck-trailer {
  height: 100%;
  width: 100%;
  grid-column: 6/7;
  justify-self: center;
  align-self: center;
}

header h1 {
  margin: 0;
  align-self: center;
  justify-self: left;
  font-size: 250%;
  grid-column: 2/6;
  color: white;
}

header .book {
  grid-column: 7/8;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  background-color: #FF8C00;
  color: white;
  padding: 8%;
  border-radius: 5px;
}

/* ############################## This is the code for the footer of the home page ##############################*/

footer {
  white-space: normal;
}

footer #footer-grid {
  background-color: #916d49;
  display: grid;
  padding: 2%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 220px;
  border: 4px solid #5F0F40;
}

footer #footer-grid #logo_link {
  height: 60%;
  width: 60%;
  justify-self: center;
  align-self: center;
  border: 4px solid #5F0F40;
  grid-column: 1/2;
}

footer #footer-grid #logo_link .logo {
  height: 100%;
  width: 100%;
}

footer #footer-grid .address {
  grid-column: 2/3;
  grid-row: 1/2;
}

footer #footer-grid .address .contact-us {
  grid-column: 2/3;
  grid-row: 1/2;
  text-decoration: none;
}

footer #footer-grid .social-home {
  grid-column: 7/8;
  grid-row: 1/2;
}

footer #footer-grid .social-home a, .other-part .site-plan {
  text-decoration: none;
}

footer #footer-grid .follow-us {
  margin: 0;
  grid-column: 6/7;
  grid-row: 1/2;
}

.other-part {
  grid-column: 3/5;
}

/* ############################## This is the code for section 1 of the home page ##############################*/

#home-1-main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 80px;
  border-right: 4px solid #5F0F40;
}

.first-home .first-section {
  padding: 5%;
  border: 4px solid #5F0F40;
  box-shadow: 5px 5px 10px 10px #686b5f;
}

.first-home {
  text-align: center;
  grid-column: 3/7;
  grid-row: 1/2;
  margin-top: 10%;
  margin-bottom: 10%;
}

.first-home .first-section .truck-unloading-rock {
  width: 100%;
  height: 80%;
}

.first-home .first-section .first-paragraph {
  line-height: 1.75em;
}

.first-home .first-section .book {
  text-align: center;
  text-decoration: none;
  background-color: #FF8C00;
  color: white;
  padding: 2%;
  border-radius: 5px;
  margin-top: 10%;
  margin-bottom: 10%;
}

#background-home {
  width: 100%;
  grid-column: 1/8;
  grid-row: 2/3;
  background-color: #5F0F40;
}

/* ############################## This is the code for section 2 of the home page ##############################*/

#home-2-main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 80px 1fr;
  border-right: 4px solid #5F0F40;
}

#second-1-home {
  align-self: center;
  text-align: center;
  grid-column: 3/7;
  grid-row: 1/2;
}

#second-2-home {
  align-self: center;
  padding: 3%;
  margin-right: 10%;
  grid-column: 2/4;
  grid-row: 2/3;
  line-height: 1.75em;
}

#second-2-home #second-paragraph {
  text-align: left;
}

#second-2-home #second-paragraph .book {
  text-decoration: none;
  background-color: #FF8C00;
  color: white;
  padding: 5%;
  border-radius: 5px;
}

#second-3-home {
  align-self: center;
  margin-top: 2%;
  margin-right: 2%;
  padding: 2%;
  margin-bottom: 2%;
  grid-column: 4/8;
  grid-row: 2/3;
  border: 4px solid #5F0F40;
  box-shadow: 5px 5px 10px 10px #686b5f;
}

#second-3-home .happy-driver {
  width: 100%;
  height: 100%;
}

/* ############################## This is the code for the side navigation ##############################*/

.sidenav {
  height: 100%;
  /* width: 85%; */
  width: 100%;
  z-index: 1;
  background-color: #275657;
  grid-column: 1/2;
  grid-row: 1/9;
  border-left: 4px solid #5F0F40;
  border-right: 4px solid #5F0F40;
  line-height: 3em;
}

.sidenav a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 1em;
  display: block;
  color: #ACBFA4;
  border-bottom: 1px solid #ACBFA4;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* ############################## This is the code for section 1 of the careers page  ##############################*/

#careers-main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 80px;
  border-right: 4px solid #5F0F40;
}

#section-1-careers {
  grid-column: 3/7;
  grid-row: 1/2;
  margin-bottom: 10%;
}

#first-section-careers h1 {
  text-align: center;
  background-color: #5F0F40;
  color: white;
}

#background-careers {
  width: 100%;
  grid-column: 1/8;
  grid-row: 2/3;
  background-color: #5F0F40;
}

/* ############################## Code for section 1/2 of the careers page  ##############################*/

.first-paragraph-careers, .second-paragraph-careers {
  line-height: 1.75em;
  text-align: left;
}

/* ############################## This is the code for section 2/2 of the careers page  ##############################*/

#careers-2-main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-right: 4px solid #5F0F40;
}

#section-2-careers {
  grid-column: 3/7;
}

.second-paragraph-careers {
  text-align: left;
  padding-top: 10%;
  padding-bottom: 10%;
  line-height: 1.75em;
}

/* ############################## This is the code for the slideshow of the careers page  ##############################*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  box-shadow: 5px 5px 10px 10px #686b5f;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  color: #275657;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  color: #275657;
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Caption text */
.text {
  color: white;
  background-color: rgba(0,0,0,0.8);
  font-size: 1em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  background-color: rgba(0,0,0,0.8);
  font-size: 1em;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999393;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* ############################## This is the code for section 1 of the trailers and prices page  ##############################*/

#tp-1-main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border-right: 4px solid #5F0F40;
}

.image-price-1 .trailer-1, .image-price-2 .truck-trailer-1, .image-price-3 .truck-trailer-2 {
  height: 65%;
  width: 130%;
}

.image-price-1 p, .image-price-2 p, .image-price-3 p {
  border: 4px solid #5F0F40;
  width: 130%;
}

.header-tp {
  color: white;
  background: #5F0F40;
  text-align: center;
  grid-column: 2/9;
  grid-row: 1/2;
  text-align: center;
  margin-bottom: 8%;
}

.button-box-1-tp {
  grid-column: 3/6;
  grid-row: 2/3;
  align-self: end;
  justify-self: center;
  padding-right: 15%;
  padding-bottom: 5%;
}

.button-box-2-tp {
  grid-column: 6/9;
  grid-row: 2/3;
  align-self: end;
  justify-self: center;
  padding-right: 15%;
  padding-bottom: 5%;
}

.button-box-3-tp {
  grid-column: 4/8;
  grid-row: 4/5;
  align-self: end;
  justify-self: center;
  padding-top: 3%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.button-box-1-tp .book, .button-box-2-tp .book, .button-box-3-tp .book {
  background-color: #FF8C00;
  color: #dbe5d7;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 10px #686b5f;
}

.image-price-1 {
  width: 100%;
  height: 100%;
  text-align: center;
  grid-column: 3/5;
  grid-row: 2/3;
}

.book-1-tp {
  text-align: center;
  grid-column: 3/5;
  grid-row: 2/3;
  text-decoration: none;
  background-color: #FF8C00;
  color: white;
  padding: 5%;
  border-radius: 5px;
}

.image-price-2 {
  width: 100%;
  height: 100%;
  text-align: center;
  grid-column: 6/8;
  grid-row: 2/3;
}

.book-2-tp {
  text-align: center;
  grid-column: 6/8;
  grid-row: 2/3;
  text-decoration: none;
  background-color: #FF8C00;
  color: white;
  padding: 5%;
  border-radius: 5px;
}

.image-price-3 {
  width: 100%;
  height: 110%;
  margin-top: 10%;
  text-align: center;
  grid-column: 4/7;
  grid-row: 3/4;
}

.book-3-tp {
  text-align: center;
  grid-column: 4/7;
  grid-row: 3/4;
  text-decoration: none;
  background-color: #FF8C00;
  color: white;
  padding: 5%;
  border-radius: 5px;
}

.paragraph-tp {
  margin-top: 8%;
  margin-bottom: 8%;
  line-height: 1.75em;
  grid-column: 4/8;
}

.image-price-1 p, .image-price-2 p, .image-price-3 p, .trailer-1, .truck-trailer-1, .truck-trailer-2 {
  box-shadow: 5px 5px 10px 10px #686b5f;
}
/* ############################## This is the code for section 2 of the trailers and prices page  ############################## */

#tp-2-main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border-right: 4px solid #5F0F40;
}

.header-2-tp {
  color: white;
  background: #5F0F40;
  text-align: center;
  grid-column: 2/9;
  border-top: 4px solid #5F0F40;
  border-bottom: 4px solid #5F0F40;
}

.paragraph-2-tp {
  margin-top: 8%;
  margin-bottom: 8%;
  line-height: 1.75em;
  grid-column: 4/8;
}

/* ############################## This is the code for the contact page ############################## */

.contact-1 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border-right: 4px solid #5F0F40;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 30%;
  width: 70%;
  height: 70%;
  /* Form outline */
  padding: 1em;
  border: 4px solid #5F0F40;
  border-radius: 1em;
  grid-column: 3/7;
  box-shadow: 5px 5px 10px 10px #686b5f;
}

.ul-contact {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 70%;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}
textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}
#feedback {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: .5em;
  /* make this element invisible until we are ready for it */
  display: none;      
}
.moveDown {
  margin-top: 2em;
}

/* ############################## This is the queries section ############################## */

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* @media screen and (max-height: 100%) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */