/* ############################## This is where I import the fonts I will be using and put my color palette ##############################*/

/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Calistoga&family=Lora&family=Martian+Mono:wght@700&family=Noto+Serif+Georgian&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #275657;
  --secondary-color: #916d49;
  --accent1-color: #ACBFA4;
  --accent2-color: #5F0F40;
  /* other: #E2E8CE */

  /* change the values below to your chosen font(s) */
  --heading-font: Calistoga, "Martian Mono";
  --paragraph-font: "Trebuchet MS", "Noto Serif Georgian", Lora;
}

body {
  max-width: 1600px;
  background-color: #ACBFA4;
  margin: 0 auto;
  padding: 0;
  font-size: 1.5em; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* ############################## This is code for the font types ##############################*/

h1 {
  font-family: var(--heading-font);
}

.contact-us, .book, .first-paragraph, .follow-us, .site-plan, p, nav a {
  font-family: var(--paragraph-font);
}


/* ############################## This is code for the header ##############################*/

header {
  padding: 0;
}

header #header-grid {
  background-color: #916d49;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 220px;
  border: 4px solid #5F0F40;
}

header #header-grid .logo_link {
  height: 60%;
  width: 60%;
  justify-self: center;
  align-self: center;
  border: 4px solid #5F0F40;
}

header #header-grid .logo_link .logo {
  height: 100%;
  width: 100%;
  grid-column: 1/2;
}

header #header-grid .truck-trailer {
  height: 100%;
  width: 100%;
  grid-column: 6/7;
  justify-self: center;
  align-self: center;
}

header h1 {
  margin: 0;
  align-self: center;
  justify-self: left;
  font-size: 250%;
  grid-column: 2/6;
  color: white;
}

header .book {
  grid-column: 7/8;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  background-color: #FF8C00;
  color: white;
  padding: 8%;
  border-radius: 5px;
}

/* ############################## This is the code for the footer of the home page ##############################*/

footer {
  white-space: normal;
}

footer #footer-grid {
  background-color: #916d49;
  display: grid;
  padding: 2%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 220px;
  border-left: 4px solid #5F0F40;
  border-bottom: 4px solid #5F0F40;
  border-right: 4px solid #5F0F40;
}

footer #footer-grid #logo_link {
  height: 60%;
  width: 60%;
  justify-self: center;
  align-self: center;
  border: 4px solid #5F0F40;
  grid-column: 1/2;
}

footer #footer-grid #logo_link .logo {
  height: 100%;
  width: 100%;
}

footer #footer-grid .address {
  grid-column: 2/3;
  grid-row: 1/2;
}

footer #footer-grid .address .contact-us {
  grid-column: 2/3;
  grid-row: 1/2;
  text-decoration: none;
}

footer #footer-grid .social-home {
  grid-column: 7/8;
  grid-row: 1/2;
}

footer #footer-grid .social-home a, .other-part .site-plan {
  text-decoration: none;
}

footer #footer-grid .follow-us {
  margin: 0;
  grid-column: 6/7;
  grid-row: 1/2;
}

.address, .follow-us {
  font-size: 1em;
}
.other-part {
  grid-column: 3/5;
}

/* ############################## This is the code for section 1 of the home page ##############################*/

#home-1-main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 80px;
  border-right: 4px solid #5F0F40;
}

.first-home .first-section {
  padding: 5%;
  border: 4px solid #5F0F40;
}

.first-home {
  text-align: center;
  grid-column: 3/7;
  grid-row: 1/2;
  margin-top: 10%;
  margin-bottom: 10%;
}

.first-home .first-section .truck-unloading-rock {
  width: 100%;
  height: 80%;
}

.first-home .first-section .first-paragraph {
  line-height: 1.75em;
  font-size: 1em;
}

.first-home .first-section .book {
  text-align: center;
  text-decoration: none;
  background-color: #FF8C00;
  color: white;
  padding: 2%;
  border-radius: 5px;
  margin-top: 10%;
  margin-bottom: 10%;
}

#background-home {
  width: 100%;
  grid-column: 1/8;
  grid-row: 2/3;
  background-color: #5F0F40;
}

/* ############################## This is the code for section 2 of the home page ##############################*/

#home-2-main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 80px 1fr;
  border-right: 4px solid #5F0F40;
  border-bottom: 4px solid #5F0F40;
}

#second-1-home {
  align-self: center;
  text-align: center;
  grid-column: 3/6;
  grid-row: 1/2;
}

#second-2-home {
  align-self: center;
  padding: 3%;
  margin-right: 10%;
  grid-column: 2/4;
  grid-row: 2/3;
  line-height: 1.75em;
}

#second-2-home #second-paragraph {
  text-align: left;
}

#second-2-home #second-paragraph .book {
  text-decoration: none;
  background-color: #FF8C00;
  color: white;
  padding: 5%;
  border-radius: 5px;
}

#second-3-home {
  align-self: center;
  margin-top: 2%;
  margin-right: 2%;
  padding: 2%;
  margin-bottom: 2%;
  grid-column: 4/8;
  grid-row: 2/3;
  border: 4px solid #5F0F40;
}

#second-3-home .happy-driver {
  width: 100%;
  height: 100%;
}

/* ############################## This is the code for the side navigation ##############################*/

.sidenav {
  height: 100%;
  width: 85%;
  z-index: 1;
  background-color: #275657;
  grid-column: 1/2;
  grid-row: 1/7;
  border-left: 4px solid #5F0F40;
  border-right: 4px solid #5F0F40;
  line-height: 3em;
}

.sidenav a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 1em;
  display: block;
  color: #ACBFA4;
  border-bottom: 1px solid #ACBFA4;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* ############################## This is the queries for the side navigation bar ##############################*/

/* @media screen and (max-height: 100%) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */
