/* ############################## This is where I import the fonts I will be using and put my color palette ##############################*/

/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Calistoga&family=Lora&family=Martian+Mono:wght@700&family=Noto+Serif+Georgian&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #275657;
  --secondary-color: #916d49;
  --accent1-color: #ACBFA4;
  --accent2-color: #5F0F40;
  /* other: #E2E8CE */

  /* change the values below to your chosen font(s) */
  --heading-font: Calistoga, "Martian Mono";
  --paragraph-font: "Trebuchet MS", "Noto Serif Georgian", Lora;
}

/* ############################## This is code for the header ##############################*/

header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
header h1 {
  font-size: 1em;
}

.logo {
  width: 4em;
}

.truck-trailer {
  width: 5em;
}


/* ############################## This is code for section 1 of the home page ##############################*/

#home-main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#home-main #section-1-home .sidenav {
  grid-column: 1/2;
}

#home-main #section-1-home .first-image .truck-unloading-rock {
  grid-column: 2/8;
}

#home-main #section-1-home .paragraph p {
  grid-column: 2/8;
}

#home-main #section-1-home .button-box .book {
  grid-column: 2/8;
}

/* ############################## This is code for the background section ##############################*/

#home-main #background-home {
  grid-column: 2/8; 
}

/* ############################## This is code for section 2 of the home page ##############################*/

#home-main #section-2-home .header h1 {
  grid-column: 2/8;
}

#home-main #section-2-home .paragraph p {
  grid-column: 2/4;
}

#home-main #section-2-home .image .happy-driver {
  grid-column: 5/8;
}

#home-main #section-2-home .button-box .book {
  grid-column: 2/3;
}


/* ############################## This is the code for the side navigation ##############################*/

body {
  padding: 0px 10px;
}

.sidenav {
  z-index: 1;
  background-color: #275657;
  overflow-x: hidden;
  padding-top: 20px;
  grid-column: 1/2;
}

.sidenav a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* ############################## This is the queries for the side navigation bar ##############################*/

@media screen and (max-height: 100%) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
